Drive--LoginWidget {
        background: url(":/bg.png") top center;
        min-width: 450px;
        max-width: 450px;
        min-height: 466px;
        max-height: 466px;
}

QLabel#logo {
        margin-top: 30px;
        max-width: 245px;
        max-height: 55px;
}

CommonUI--SpinnerWidget {
        margin: 6px 0 0 0;
        min-height: 24px;
        max-height: 24px;
}

QLabel#wait {
        color: gray;
        margin: 0 0 0 8px;
        font: 14pt "Segoe UI";
}

QLabel#substText {
        color: gray;
        margin: 0 0 0 8px;
        font: 14pt "Segoe UI";
}

QFrame#labels {
        min-width: 255px;
        max-width: 255px;
        margin-left: 5px;
}

QLabel#login {
        font: bold 19pt "Segoe UI";
}

QLineEdit#usernameEdit, QLineEdit#passwordEdit {
        border-image: url(":/input.png") 5;
        border-width: 5px;
        background: transparent;

        color: #444444;
        min-width: 245px;
        max-width: 245px;
        min-height: 24px;
        font: 14pt "Segoe UI";
}

QLineEdit#usernameEdit:disabled, QLineEdit#passwordEdit:disabled {
        border-image: url(":/input-disabled.png") 5;
        border-width: 5px;
        background: transparent;
        color: gray;
}

CommonUI--LinkLabel#forgot {
        font: 14pt "Segoe UI";
        text-decoration: none;
        margin-bottom: 20px;
}

CommonUI--LinkLabel#forgot:disabled {
        color: gray;
}

CommonUI--LinkLabel#forgot[state="hover"] {
        font: 14pt "Segoe UI";
        text-decoration: underline;
        margin-bottom: 20px;
}

/* check box */

QCheckBox#rememberPassword {
        margin: 0 0 0 0;
        font: 14pt "Segoe UI";
        max-width: 255px;
        min-width: 255px;
        margin-left: 5px;
}

QCheckBox#rememberPassword::indicator {
        max-width: 16px;
        min-width: 16px;

        max-height: 16px;
        min-height: 16px;
}

QCheckBox#rememberPassword::indicator:unchecked {
        image: url(":/chekbox-unchecked.png");
}

QCheckBox#rememberPassword::indicator:unchecked:disabled {
        image: url(":/chekbox-unchecked-disabled.png");
}

QCheckBox#rememberPassword::indicator:checked {
        image: url(":/chekbox-checked.png");
}

QCheckBox#rememberPassword::indicator:checked:disabled {
        image: url(":/chekbox-checked-disabled.png");
}

QCheckBox#rememberPassword:disabled {
        color: gray;
        max-width: 255px;
}

/* sign in button */

QPushButton#signIn {
        border-image: url(":/button-normal.png") 5;
        border-width: 5px;
        background: transparent;
        font: 15pt "Segoe UI";
        font-weight: bold;
        text-decoration: none;
        color: white;
        max-width: 245px;
        min-width: 245px;
        max-height: 30px;
        min-height: 30px;
        margin-left: 5px;
        margin-top: 6px;
}

QPushButton#signIn:hover {
        border-image: url(":/button-hover.png") 5;
        border-width: 5px;
        color: white;
}

QPushButton#signIn:pressed {
        border-image: url(":/button-pressed.png") 5;
        border-width: 5px;
}

QPushButton#signIn:disabled {
        border-image: url(":/button-disabled.png") 5;
        border-width: 5px;
}

CommonUI--LinkLabel#signUp {
        color: #C00000;
        font: 14pt "Segoe UI";
        text-decoration: none;
        margin-top: 10px;
}

CommonUI--LinkLabel#signUp[state="hover"] {
        color: #C00000;
        font: 14pt "Segoe UI";
        text-decoration: underline;
        margin-top: 10px;
}

CommonUI--LinkLabel#signUp:disabled {
        color: gray;
        font: 14pt "Segoe UI";
        text-decoration: none;
        margin-top: 10px;
}
