Drive--PasswordResetWidget {
        background: #FFFFFF;
        min-width: 456px;
        max-width: 456px;
        min-height: 412px;
        max-height: 412px;
}

QLabel#prompt {
        margin: 0 0 0 0;
        font: 16pt "Segoe UI";
        line-height: 80%;
        max-width: 291px;
        min-width: 291px;
        margin-left: 5px;
}


QLabel#prompt:disabled {
        color: gray;
        max-width: 255px;
}

QLineEdit#phoneEdit {
        border-image: url(":/input.png") 5;
        border-width: 2px;
        background: transparent;

        color: #444444;
        max-width: 291px;
        min-width: 291px;
        max-height: 40px;
        min-height: 40px;
        font: 16pt "Segoe UI";
}

QLineEdit#phoneEdit:disabled {
        border-image: url(":/input-disabled.png") 5;
        border-width: 2px;
        background: transparent;
        color: gray;
}

CommonUI--LinkLabel#recalled {
        font: 16pt "Segoe UI";
        text-decoration: none;
        margin-bottom: 20px;
}

CommonUI--LinkLabel#recalled:disabled {
        color: gray;
}

CommonUI--LinkLabel#recalled[state="hover"] {
        font: 16pt "Segoe UI";
        text-decoration: underline;
        margin-bottom: 20px;
}

/* sign in button */

QPushButton#resetButton {
        border-image: url(":/PasswordResetWidget/ResetPasswordButton.png") 5;
        border-width: 5px;
        background: transparent;
        font: 15pt "Segoe UI";
        font-weight: bold;
        text-decoration: none;
        color: white;
        max-width: 291px;
        min-width: 291px;
        max-height: 40px;
        min-height: 40px;
        margin-left: 5px;
        margin-top: 6px;
}

QPushButton#resetButton:hover {
        border-image: url(":/PasswordResetWidget/ResetPasswordButton.png") 5;
        border-width: 5px;
        color: white;
}

QPushButton#resetButton:pressed {
        border-image: url(":/PasswordResetWidget/ResetPasswordButton.png") 5;
        border-width: 5px;
}

QPushButton#resetButton:disabled {
        border-image: url(":/PasswordResetWidget/ResetPasswordButton.png") 5;
        border-width: 5px;
}

