Drive--PasswordResetWidget {
        background: url(":/bg.png") top center;
        min-width: 450px;
        max-width: 450px;
        min-height: 466px;
        max-height: 466px;
}

QLabel#logo {
        margin-top: 30px;
        max-width: 245px;
        max-height: 55px;
}


QLabel#header {
        color: black;
        margin: 0 0 0 0;
        min-width: 245px;
        font: bold 17pt "Segoe UI";
        text-align: left;
}

CommonUI--SpinnerWidget {
        margin: 6px 0 0 0;
        min-height: 24px;
        max-height: 24px;
}

QLabel#prompt {
        margin: 0 0 0 0;
        font: 10pt "Segoe UI";
        line-height: 80%;
        max-width: 245px;
        min-width: 245px;
}

QLabel#prompt:disabled {
        color: gray;
        max-width: 291px;
}

QLineEdit#phoneEdit {
	border-image: url(":/input.png") 5;
        border-width: 2px;
	background: transparent;

	color: #444444;
        max-width: 245px;
        min-width: 245px;
        max-height: 34px;
        min-height: 34px;
        font: 10pt "Segoe UI";
}

QLineEdit#phoneEdit:disabled {
	border-image: url(":/input-disabled.png") 5;
        border-width: 2px;
	background: transparent;
	color: gray;
}

CommonUI--LinkLabel#recalled {
        font: 10pt "Segoe UI";
	text-decoration: none;
        margin-bottom: 20px;
}

CommonUI--LinkLabel#recalled:disabled {
	color: gray;
}

CommonUI--LinkLabel#recalled[state="hover"] {
        font: 10pt "Segoe UI";
	text-decoration: underline;
        margin-bottom: 20px;
}

/* sign in button */

QPushButton#resetButton {
        border-image: url(":/button-normal.png") 5;
        border-width: 3px;
	background: transparent;
        font: 13pt "Segoe UI";
	font-weight: bold;
	text-decoration: none;
	color: white;
        max-width: 245px;
        min-width: 245px;
        max-height: 34px;
        min-height: 34px;
	margin-left: 5px;
        margin-top: 6px;
}

QPushButton#resetButton:hover {
        border-image: url(":/button-hover.png") 5;
        border-width: 3px;
	color: white;
}

QPushButton#resetButton:pressed {
        border-image: url(":/button-pressed.png") 5;
        border-width: 3px;
}

QPushButton#resetButton:disabled {
        border-image: url(":/button-disabled.png") 5;
        border-width: 3px;
}
