
QFrame#buttonBox {
    border-image: url(":/hline.png") 1 0 1 0;
    border-top: 1px transparent;
    border-bottom: 1px transparent;
    border-left: 0px transparent;
    border-right: 0px transparent;
    margin: 0 6px 0 6px;
}

CommonUI--LinkLabel#help {
    background: transparent url(":/help.png") no-repeat;
    background-position: center left;
    padding: 0 0 1px 30px;
}

CommonUI--LinkLabel#help[state="hover"] {
    text-decoration: underline;
    background-position: center right;
}

CommonUI--LinkLabel#help[state="normal"] {
    text-decoration: underline;
    background-position: center left;
}

